body {
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  background-color: #d1e3ff;
  border-radius: 20px;
  padding-bottom: 40px;
}

.btn-outline-secondary {
  position: relative;
  left: 85%;
  margin: 15px;
  margin-right: -50px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 10px;
}
.weather-temperature #icon {
  margin-left: 80px;
}
#city {
  color: black;
  opacity: 0.8;
}
#temperature {
  font-size: 32px;
  margin-left: 110px;
  margin-block: inherit;
  color: black;
  opacity: 0.8;
}

#celsius-link {
  color: black;
  opacity: 0.3;
  margin-left: 92px;
}

#fahrenheit-link {
  color: black;
  opacity: 0.3;
}

.weather-app {
  display: none;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.units {
  margin-left: -90px !important;
}

h1 {
  color: #5c636a;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  margin-left: 100px;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20cm;
  font-style: bold;
}

ul {
  margin-left: 100px;
  color: #5c636a;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.weather-info {
  padding-left: 0;
}

li {
  list-style: none;
  color: black;
  opacity: 0.5;
  font-weight: 100;
  line-height: 19px;
  padding: -10px;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

li:first-letter {
  text-transform: capitalize;
}
.active {
  color: #5c5470;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.weather-temperature strong {
  color: rgb (33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16cm;
}

.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -18px;
  margin-left: 10px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
  margin-left: 120px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  position: relative;
  display: inline-flex;
  padding: 20px;
  margin-left: 60px;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.weather-forecast-icon {
  margin-left: 60px;
}

.weather-forecast img {
  width: 40px;
  margin-left: -30px;
  text-align: center;
  display: block;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.3;
  margin-left: 30px;
}

.weather-forecast-temperatures {
  font-size: 13px;
  margin-left: 30px;
}

.small-footer {
  bottom: 0;
  width: 100%;
  padding: 30px;
}

.center-footer {
  text-align: center;
}

.night-mode .weather-forecast-day,
.night-mode .weather-forecast-temperature {
  color: #929aab;
  opacity: 2;
  font-style: bold;
}
